
<div class="row">
	<div class="span4 offset4">
		<h3>Sign in</h3>
		<%= form_for(:session, url: sessions_path) do |f| %>
		  <%= f.label :email %>
		  <%= f.text_field :email %>

		  <%= f.label :password %>
		  <%= f.password_field :password %>

		  <br/><%= f.submit "Sign in", class: "btn" %>
		<% end %>
	</div>
</div>
