<%= form_for(@fieldtrip) do |f| %>
  <% if @fieldtrip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fieldtrip.errors.count, "error") %> prohibited this fieldtrip from being saved:</h2>

      <ul>
      <% @fieldtrip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name_code %><br />
    <%= f.text_field :name_code %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
