<h1>Fieldtrips</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Name code</th>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fieldtrips.each do |fieldtrip| %>
  <tr>
    <td style="background-color:white;"><%= fieldtrip.id %></td>
    <td><%= fieldtrip.name %></td>
    <td><%= fieldtrip.name_code %></td>
    <td><%= fieldtrip.date %></td>
    <td style='text-align:left; max-width:500px;'><%= fieldtrip.description %></td>
    <td style="background-color:white;"><%= link_to 'Show progress', fieldtrip %> | <%= link_to 'Edit', edit_fieldtrip_path(fieldtrip) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fieldtrip', new_fieldtrip_path %>
