<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>Fieldtrips</h3>
    <br>

    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Name code</th>
          <th>Date</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @fieldtrips.each do |fieldtrip| %>
          <tr>
            <td style="color: lightgrey;"><%= fieldtrip.id %></td>
            <td><%= fieldtrip.name %></td>
            <td><%= fieldtrip.name_code %></td>
            <td><%= fieldtrip.date %></td>
            <td style='text-align:left; max-width:400px;'><%= fieldtrip.description %></td>
            <td style="background-color:white;"><%= link_to 'Progress', fieldtrip %> | <%= link_to 'Edit', edit_fieldtrip_path(fieldtrip) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br />

    <%= link_to 'New Fieldtrip', new_fieldtrip_path, class: "btn btn-large btn-primary" %>
  </div>
</div>