<h1><%= @fieldtrip.name %></h1>

<div class="well">
	<p>
	  <b>Date:</b>
	  <%= @fieldtrip.date %>
	</p>

	<p>
	  <b>Code:</b>
	  <%= @fieldtrip.name_code %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @fieldtrip.description %>
	</p>


	<%= link_to 'Edit', edit_fieldtrip_path(@fieldtrip) %> |
	<%= link_to 'Back', fieldtrips_path %>

</div>

<h3>Tagged colony status for <%= @fieldtrip.name %></h3>

<div class="well">

<span class="label label-success">Found and Photographed</span>
<span class="label label-danger">Not found</span>
<span class="label label-warning">Dead or Gone</span>
<span class="label label-primary">Photographer</span>
<p>Also showing colonies reported lost or dead in earlier trip (or if in earlier fieldtrips, future new colony)</p>
</div>

<% if params[:id] == "11" %>
  <% before = 5 %>
<% else %>
  <% before = params[:id].to_i - 1 %>
<% end %>

<% (0..7).each do |t| %>
	<h3>Transect <%= t %></h3>
	<table style="border:grey 1px solid;">
	<% 13.downto(1).each do |y| %>
		<tr>
		<% (1..60).each do |x| %>
		
				<% temp = Coral.where('transect == ? AND map_x == ? AND map_y == ?', t, x, y) %>
				<% if temp.count > 0 %>
					<% obs = Observation.where('coral_id == ? AND fieldtrip_id == ?', temp.first.id, params[:id]) %>
					<td>
					<% if !obs.empty? %>
						<% if obs.first.action == "photographed" %>
							<%= link_to temp.first.species_code.to_s + obs.first.tag_number.to_s, coral_path(obs.first.coral_id), class: "label label-success" %>
						<% else %>
							<%= link_to temp.first.species_code.to_s + obs.first.tag_number.to_s, coral_path(obs.first.coral_id), class: "label label-warning" %>
						<% end %>
						<br>
						<% img = temp.first.species_code + "%04d" % obs.last.tag_number + '_' + obs.last.fieldtrip.name_code %>
						
						<% @thumbs = @files.find_all{|item| item.include? img } %>
						<% @observers = [] %>
						<% @thumbs.each do |tn| %>
							<% @observers << tn.split('_')[5] %>
						<% end %>
						<% @observers.uniq.each do |oo| %>
							<span class="label label-primary"><%= oo %></span>
						<% end %>
						
						
					<% else %>
						<% obsx = Observation.where('coral_id == ? AND fieldtrip_id == ?', temp.first.id, before.to_s) %>
						<% if !obsx.empty? && obsx.first.action != "dead" && obsx.first.action != "gone" %>
							<%= link_to temp.first.species_code.to_s + obsx.first.tag_number.to_s, coral_path(obsx.first.coral_id), class: "label label-danger" %>
						<% else %>
							<% obsa = Observation.where('coral_id == ?', temp.first.id) %>
							<%#= link_to temp.last.species_code + obsa.last.tag_number.to_s, coral_path(obsa.last.coral_id) %>
						<% end %>
					<% end %>
				
				<% else %>
					<td>
				<% end %>
				
			</td>
		<% end %>
		</tr>
	<% end %>
	</table>
<% end %>
<br/>
