<h2>Colony observations</h2>


<div style="row">
	<div class="span6">
    <%= form_tag corals_path, :method => 'get' do %>
    <p>Search corals (not tags):
    <div class="input-append">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil, class: "btn" %>
      <%= link_to 'Reset', corals_path, class: "btn" %>
  	</div></p>
    <% end %>
	</div>

	<div class="span6">
    <%= form_tag observations_path, :method => 'get' do %>
    <p>Search observations (including tags):
    <div class="input-append">
      <%= text_field_tag :osearch, params[:osearch] %>
      <%= submit_tag "Search", :name => nil, class: "btn" %>
      <%= link_to 'Reset', observations_path, class: "btn" %>
  	</div></p>
    <% end %>
  </div>

	<div class="span2 offset10">
    <%= link_to 'Back to Corals', corals_path, class: "btn" %>
  </div>

	<div class="span12">

    <% if @observations.empty? %>
    <h2>No matches</h2>

    <% else %>

    	<table class="table">
    	  <tr>
    	    <th>Coral ID</th>
    	    <th>Observation ID</th>
    	    <th>Fieldtrip</th>
    	    <th>Mother</th>
    	    <th>Tag number (image)</th>
    	    <th>Active tag</th>
    	    <th>Action</th>
    	    <th>Observation notes</th>
    	    <th></th>
    	    <th></th>
    	    <th></th>
    	  </tr>

    	<% @observations.each do |observation| %>
    	  <tr>
    	    <td style="color:lightgrey"><%= observation.coral_id %></td>
    	    <td><%= observation.id %></td>
    	    <td><%= observation.fieldtrip_id %></td>
    	    <td><%= observation.mother_id %></td>
    	    <td><%= '%04d' % observation.tag_number %></td>
    	    <td><%= observation.active_tag %></td>
    	    <td><%= observation.action %></td>
    	    <td style='text-align:left; max-width:250px;'><%= observation.notes %></td>
    	    <td><%= link_to 'Go to coral', coral_path(observation.coral) %> | <%= link_to 'Go to observation', coral_observation_path(observation.coral, observation) %></td>
    	  </tr>
    	<% end %>
    <% end %>
    </table>

  </div>
</div>
