<%= form_for(@coral) do |f| %>
  <% if @coral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coral.errors.count, "error") %> prohibited this coral from being saved:</h2>

      <ul>
      <% @coral.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transect %><br />
    <%= f.number_field :transect %>
  </div>
  <div class="field">
    <%= f.label :map_x %><br />
    <%= f.number_field :map_x %>
  </div>
  <div class="field">
    <%= f.label :map_y %><br />
    <%= f.number_field :map_y %>
  </div>
  <div class="field">
    <%= f.label :dim_1 %><br />
    <%= f.number_field :dim_1 %>
  </div>
  <div class="field">
    <%= f.label :dim_2 %><br />
    <%= f.number_field :dim_2 %>
  </div>
  <div class="field">
    <%= f.label :species %><br />
	<%= f.select :species, ['', 'Acropora cytheria', 'Acropora fat dig', 'Acropora humilis', 'Acropora hyacinthus', 'Acropora intermedia', 'Acropora millepora', 'Acropora nasuta', 'Acropora spathulata', 'Acropora robusta', 'Goniastrea pectinata', 'Goniastrea retiformis'] %>
  </div>
  <div class="field">
    <%= f.label :species_code %><br />
	<%= f.select :species_code, ['', 'AC', 'AD', 'AS', 'AH', 'AI', 'AM', 'AN', 'AL', 'AR', 'GP', 'GR'] %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
