<h1>Tagged colonies</h1>

<div style="border: dotted 1px grey; padding: 10px;">
<table>
<%= form_tag corals_path, :method => 'get' do %>
  <tr style="background-color:white;">
    <td style="text-align:right;">Search corals (not tags):</td><td><%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %></td>
  </tr>
<% end %>
<%= form_tag observations_path, :method => 'get' do %>
  <tr style="background-color:white;">
    <td style="text-align:right;">Search observations (including tags):</td><td><%= text_field_tag :osearch, params[:osearch] %>
    <%= submit_tag "Search", :name => nil %></td>
  </tr>
<% end %>
</table>
</div>

<p><%= link_to 'New Coral', new_coral_path %></p>

<% if @corals.empty? %>
<p style="background-color:orange;"> No matches</p>

<% else %>

	<table class='data'>
	  <tr>
	    <th><%= sortable "id" %></th>
	    <th><%= sortable "transect" %></th>
	    <th>Species</th>
	    <th><%= sortable "species_code" %></th>
	    <th>Last tag</th>
	    <th><%= sortable "notes" %></th>
	    <th></th>
	  </tr>

	<% @corals.each do |coral| %>
	  <tr>
	    <td style="background-color:white;"><%= coral.id %></td>
	    <td><%= coral.transect %></td>
	    <td><i><%= coral.species %></i></td>
	    <!-- <td><%= coral.species %></td> -->
	    <td><%= coral.species_code %></td>
		
		<td><% if !coral.observations.empty? %>
			<%= '%03d' % coral.observations.last.tag_number %>
		<% end %></td>
	
	    <td style='text-align:left; max-width:250px;'><%= coral.notes %></td>

	    <td style="background-color:white;"><%= link_to 'Show observations', coral %> | <%= link_to 'Edit colony', edit_coral_path(coral) %></td>
	  </tr>
	<% end %>
	</table>

<% end %>

<br />

<%= link_to 'New Coral', new_coral_path %>
