<div class="row">
  <div class="col-md-12">

		<h2>Tagged colony</h2>
		
		<table class="table">
			<tr class='top'>
			<td><table style="background-color: #444;"><tr class='image'>
				<% if !@coral.observations.blank? %>
					<% img = @coral.species_code + "%04d" % @coral.observations.last.tag_number + '_' + @coral.observations.last.fieldtrip.name_code + '_T' %>
					<% imgS = @coral.species_code + "%04d" % @coral.observations.last.tag_number + '_' + @coral.observations.last.fieldtrip.name_code + '_S' %>
					<% @temp = @files.find_all{|item| item.include? img }.last %>
					<% @tempS = @files.find_all{|item| item.include? imgS }.last %>
					
					<% if !@temp.nil? %>
						<td><%= link_to image_tag('tagged_raw_thumbs/' + @temp.split('/').last), '/images/tagged_raw/' + @temp.split('/').last.split('_tn').first + '.JPG' %>						
						</td></tr>
						<tr><td style="text-align:center;">
						<font color="white">(Latest image)</font>
					<% else %>
						<% if !@tempS.nil? %>
							<td><%= link_to image_tag('tagged_raw_thumbs/' + @tempS.split('/').last), '/images/tagged_raw/' + @tempS.split('/').last.split('_tn').first + '.JPG' %>
							</td></tr>
							<tr class='image'><td>
							<font color="white">(Latest image)</font>
						<% else %>
							<td style="height: 270px; width: 320px;"><font color="white">(The last observation has no images)</font>
						<% end %>
					<% end %>
					</td></tr>
				<% else %>
					<td style="height: 270px; width: 320px;"><font color="white">(The last observation has no images)</font>
				<% end %>
			</table></td>
			
			<td>
				<p>
				  <b>Species:</b> <i><%= @coral.species %></i>
				</p>

				<p><% if !@coral.observations.blank? %>
					<b>Current tag:</b> <%= @coral.species_code %><%= '%04d' % @coral.observations.last.tag_number %>
				</p><% end %>
				<p>
				  <b>Transect:</b>
				  <%= @coral.transect %> (x = <%= @coral.map_x %>, y = <%= @coral.map_y %>)
				</p>

				<p>
				  <b>Dimensions:</b> <%= @coral.dim_1 %>, <%= @coral.dim_2 %>
				</p>

				<p style="border:1px;">
				  <b>Colony notes:</b>
				  <font color="orange"><%= @coral.notes %></font>
				</p>
				<p>
		    	<%= link_to 'Edit coral', edit_coral_path(@coral), class: "btn btn-default" %>
		    </p>
			</td></tr>
		</table>


    <div class="row">
      <div class="col-md-6">
        <%= form_tag observations_path, :method => 'get' do %>
          <div class="input-group">
            <%= text_field_tag :osearch, params[:osearch], :placeholder => "Tag search...", class: "form-control" %>
            <span class="input-group-btn">
              <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
            </span>
          </div>
        <% end %>
      </div>
    </div>


		<h3>Tagged colony observations</h3>

		<a href="javascript:<% @coral.observations.each do |oo| %>jchange('div<%= oo.id %>')<% if oo != @coral.observations.last %>,<% end %><% end %>;">Show/hide all images</a>

		<table class="table table-condensed">
		<tr>
			<th></th>
			<th>Fieldtrip</th>
			<th>Mum</th>
			<th>Image tag</th>
			<th>Active tag</th>
			<th>Action</th>
			<th>Notes</th>
			<th>Areas</th>
			<th></th>
		</tr>

		<%= render @coral.observations.sort_by{|e| e[:fieldtrip_id]} %>

		<tr style='background-color:white;'>
			<% if !@coral.observations.blank? %>
				<% temp = @coral.observations.last.active_tag %>
				<% if temp.blank? %>	
					<% temp = @coral.observations.last.tag_number %>
				<% end %>		
			<% end %>
			
			<%= form_for([@coral, @coral.observations.build]) do |f| %>
			  <td></td>
			  <td><%= collection_select :observation, :fieldtrip_id, @fieldtrips, :id, :name_code, { :selected => @fieldtrips.last.id } %> </td>
			  <td><%= f.text_field :mother_id, :size => 6 %></td>
			  <td><%= f.text_field :tag_number, :value => temp, :size => 6 %></td>
			  <td><%= f.text_field :active_tag, :size => 6 %></td>
			  <td><%= f.select :action, ['', 'photographed', 'not found', 'no scale', 'not real', 'dead', 'gone'] %></td>
			  <td><%= f.text_field :notes %></td>
			  <td></td>
			  <td><%= f.submit class: "btn btn-primary" %></td>
			<% end %>
		</tr>
		</table>

		<br/>

	</div>
</div>
