<tr>
	<td><a href="javascript:jchange('div<%= area.id %>');">Outlines</a></td>
	<td><%= area.id %></td>
	<td><%= area.observation_id %></td>
	<td><%= area.observation.coral_id %></td>
	<td><%= area.photographer_name %></td>
	<td><%= area.outliner_name %></td>
	<td><%= area.outline_filename %></td>
	<td><% if !area.area.blank? %><%= '%.2f' % area.area %><% end %></td>
	<td><%= area.flag %></td>
	<% if area.acceptable == true %>
	<td><%= area.acceptable %></td>
	<% else %>
	<td style="background-color: red;" ><%= area.acceptable %></td>
	<% end %>
	<% if area.acceptable_outline == true %>
	<td><%= area.acceptable_outline %></td>
	<% else %>
	<td style="background-color: red;" ><%= area.acceptable_outline %></td>
	<% end %>
	<td><%= area.notes %></td>
	<td><%= link_to 'Show touches', coral_observation_area_path(area.observation.coral, area.observation, area) %> | <%= link_to 'Edit area', edit_coral_observation_area_path(area.observation.coral, area.observation, area) %> | <%= link_to 'Delete', coral_observation_area_path(area.observation.coral, area.observation, area), confirm: 'Are you sure?', method: :delete %></td>
</tr>

<tr>
	<% if area.flag %>
		<% mid = area.outline_filename[(area.outline_filename.length-4)..area.outline_filename.length] %>
		<% img = area.outline_filename[0..7] + "\.*_" + area.outliner_name %>
	    <% @thumbs = @files.find_all{|item| item =~ /#{area.outline_filename[0..7]}.*#{mid}.*#{area.outliner_name}*/ } %>
	<% else %>
		<% img = area.outline_filename + "_" + area.outliner_name %>
	    <% @thumbs = @files.find_all{|item| item.include? img } %>
	<% end %>
	
    <td colspan=9 style="background-color:white;">

	<table id="div<%= area.id %>" style="display:none;"><tr>

		<% @thumbs.each do |aa| %>

			<td style='padding:0px; background-color: white;'>
			<table style="background-color: black;">
				<tr class='image'><td><%= image_tag @file_path + 'tagged_thumbs_outlines/' + aa.split('/').last %></td></tr>
				<tr class='image'><td><font color="white" size=1><%= aa.split('/').last.split('_tn').first %></font></td></tr>
				<tr class='image'><td><font color="white"><%= link_to 'OUTLINE', @file_path + 'tagged_outlines/' + aa.split('/').last.split('_tn').first + '.jpeg', :class => 'image' %></font></td></tr>
			
		</table>
		</td>		
	<% end %>
	
	
	</tr></table></td>

</tr>
