<tr>
	<td><a href="javascript:jchange('div<%= area.id %>');">Outlines</a></td>
	<td style="color:lightgrey;"><%= area.id %></td>
	<td style="color:lightgrey;"><%= area.observation_id %></td>
	<td style="color:lightgrey;"><%= area.observation.coral_id %></td>
	<td><%= area.photographer_name %></td>
	<td><%= area.outliner_name %></td>
  <td><%= area.outline_filename %></td>
	<td><% if !area.area.blank? %><%= '%.2f' % area.area %><% end %></td>
	<td><% if !area.perimeter.blank? %><%= '%.2f' % area.perimeter %><% end %></td>
	<td><%= area.flag %></td>
	<% if area.acceptable == false %>
	<td style="background-color: red;" ><%= area.acceptable %></td>
	<% else %>
	<td><%= area.acceptable %></td>
	<% end %>
	<% if area.acceptable_outline == false %>
	<td style="background-color: red;" ><%= area.acceptable_outline %></td>
	<% else %>
	<td><%= area.acceptable_outline %></td>
	<% end %>
  <!-- <td><%#= area.notes %></td> -->
	<td><%= area.touches.count %></td>
  
	<td><%= link_to 'Touches', coral_observation_area_path(area.observation.coral, area.observation, area) %> | <%= link_to 'Edit', edit_coral_observation_area_path(area.observation.coral, area.observation, area) %> | <%= link_to 'Delete', coral_observation_area_path(area.observation.coral, area.observation, area), confirm: 'Are you sure?', method: :delete %></td>
</tr>

<tr>
	<%# if area.flag %>
		<%# mid = area.outline_filename[(area.outline_filename.length-4)..area.outline_filename.length] %>
		<%# img = area.outline_filename[0..7] + "\.*_" + area.outliner_name %>
	    <%# @thumbs = @files.find_all{|item| item =~ /#{area.outline_filename[0..7]}.*#{mid}.*#{area.outliner_name}*/ } %>
	<%# else %>
		<% img = area.outline_filename + "_" + area.outliner_name %>
	    <% @thumbs = @files.find_all{|item| item.include? img } %>
	<%# end %>
	
    <td colspan=14>

	<table id="div<%= area.id %>" style="display:none;"><tr>

		<% @thumbs.each do |aa| %>

			<td style='padding:5px; background-color: white;'>
			<table style="background-color: #444;">
				<tr class='image'><td><%= image_tag 'tagged_outlines_thumbs/' + aa.split('/').last %></td></tr>
				<tr class='image'><td style="text-align:center;color:white;"><%= aa.split('/').last.split('_tn').first %></font></td></tr>
				<tr class='image'><td style="text-align:center;color:white;"><%= link_to 'OUTLINE', '/images/tagged_outlines/' + aa.split('/').last.split('_tn').first + '.jpeg', :class => 'image' %></td></tr>
			
		</table>
		</td>		
	<% end %>
	
	
	</tr></table></td>

</tr>

