<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Observation: <%= @area.observation_id %></p>
  <div class="field">
    <%= f.label :photographer_name %>
    <%= f.text_field :photographer_name %>
  </div>
  <div class="field">
    <%= f.label :outliner_name %>
    <%= f.text_field :outliner_name %>
  </div>
  <div class="field">
    <%= f.label :outline_filename %>
    <%= f.text_field :outline_filename %>
  </div>
  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :perimeter %>
    <%= f.text_field :perimeter %>
  </div>
  <div class="field">
    <%= f.label :flag %>
    <%= f.check_box :flag %>
  </div>
  <div class="field">
    <%= f.label "Acceptable photo" %>
    <%= f.check_box :acceptable %>
  </div>
  <div class="field">
    <%= f.label :acceptable_outline %>
    <%= f.check_box :acceptable_outline %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn" %>
  </div>
<% end %>
