<tr>
	<td>Touch:</td>
	<td><%= touch.touch_number %></td>
	<td><%= touch.area_id %></td>
	<td><%= touch.area.observation_id %></td>
	<td><%= touch.area.observation.coral_id %></td>
	<td><%= touch.outliner_name %></td>
	<td><%= link_to touch.outline_filename, @file_path + 'tagged_touch_files/' + touch.outline_filename %></td>
	<td><% if !touch.length.blank? %><%= '%.2f' % touch.length %><% end %></td>
	<td><%= touch.taxon1 %></td>
	<td><%= touch.growth_form %></td>
	<td><%= touch.touch_type %></td>
	<td><%= touch.taxon2 %></td>
	<td><%= touch.notes %></td>
	<td><%= link_to 'Edit touch', edit_coral_observation_area_touch_path(touch.area.observation.coral, touch.area.observation, touch.area, touch) %> | <%= link_to 'Delete', coral_observation_area_touch_path(touch.area.observation.coral, touch.area.observation, touch.area, touch), confirm: 'Are you sure?', method: :delete %></td>
</tr>

