<p id="notice"><%= notice %></p>

<p>
  <b>Area:</b>
  <%= @touch.area %>
</p>

<p>
  <b>Outliner name:</b>
  <%= @touch.outliner_name %>
</p>

<p>
  <b>Outline filename:</b>
  <%= @touch.outline_filename %>
</p>

<p>
  <b>Taxon1:</b>
  <%= @touch.taxon1 %>
</p>

<p>
  <b>Taxon2:</b>
  <%= @touch.taxon2 %>
</p>

<p>
  <b>Type:</b>
  <%= @touch.type %>
</p>

<p>
  <b>Length:</b>
  <%= @touch.length %>
</p>

<p>
  <b>Flag:</b>
  <%= @touch.flag %>
</p>

<p>
  <b>Notes:</b>
  <%= @touch.notes %>
</p>


<%= link_to 'Edit', edit_touch_path(@touch) %> |
<%= link_to 'Back', touches_path %>
