<% provide(:title, 'Contributors') %>
<h3>Listing contributors</h3>
<br>

<table class="table">
	<thead>
	  <tr>
	    <th></th>
	    <!-- <th style="color: lightgrey;">ID</th> -->
	    <th>First</th>
	    <th>Last</th>
	    <th>Short name</th>
	    <th></th>
	  </tr>
	</thead>
	
  <tbody>
		<% @contributors.each do |contributor| %>
			<tr>
			  <td><%= gravatar_for contributor, size: 30 %></td>
			  <!-- <td style="color: lightgrey;"><%#= contributor.id %></td> -->
			  <td><%= contributor.first_name %></td>
			  <td><%= contributor.last_name %></td>
			  <td><%= contributor.short_name %></td>
			  <td style="text-align:right; min-width: 150px;"><%= link_to 'Show', contributor %>      
			  <% if current_contributor.admin? && !current_contributor?(contributor) %> |
			    <%= link_to "Delete", contributor, method: :delete, data: { confirm: "You sure?" } %></td>
				<% else %>
					</td>
			  <% end %>
			</tr>
		<% end %>
	</tbody>
</table>

