<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <% provide(:title, 'Sign up') %>
    <%= render 'shared/error_messages', temp: @contributor %>
    <h3>Sign up</h3>

    <%= form_for(@contributor) do |f| %>

    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :short_name %>
      <%= f.text_field :short_name, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :phone_number %>
      <%= f.text_field :phone, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :institution %>
      <%= f.text_field :institution, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :country %>
      <%= f.text_field :country, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :contributor_profile %>
      <%= f.text_area :contributor_profile, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

     <div class="form-group">
      <%= f.label :administrator %>
      <%= f.check_box :admin, class: "form-control" %>
    </div>

      <br/><%= f.submit "Create account", class: "btn" %>
    <% end %>

  </div>
</div>